{% extends 'home/base.html' %}
{% block user %}
    {% if is_authenticated %}
        <a href="/home/logout">LOGOUT</a><br>
        <a href="/home/past">View Your Past Searches</a>
    {% else %}
        <a href="/home/login">LOGIN</a>
        <a href="/home/signup">SIGNUP </a>
    {% endif  %}
{% endblock %}
{% block content %}

    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" name="submit" value="SEARCH">
    </form>

{% endblock%}
{% block summary %}
{% if summary and title and url %}
<div>
    <hr>
    Search Related Results:
    {% for search in search%}
    <a href="https:en.wikipedia.org/wiki/{{search}}">{{search}}</a>
    {% endfor %}
    <br><hr>
    Title:{{title}}<br><hr>
    {{summary}}<br><hr>
    For More Details GoTo:<a href="{{url}}">{{url}}</a>
</div>
{% endif %}
{% endblock %}
